

<div class="member-display-title member-display-order-title">
    <span class="member-display-order-item">店家</span>
    <span class="member-display-order-item">租期</span>
    <span class="member-display-order-item">金額</span>
    <span class="member-display-order-item">交易日期</span>
    <span class="member-display-order-item member-display-order-item-show">內容</span>
</div>

@{
    foreach (var item in Model.MemberOrderDetail)
    {
        <div class="member-display-order-detail-container">
            <div class="member-display-title member-display-order-detail">
                <span class="member-display-order-item member-display-order-show">@item.BranchName</span>
                <span class="member-display-order-item
                member-display-order-day">@item.RentDate 天</span>
                <span class="member-display-order-item
                member-display-order-dynamic-total">NT$@item.TotalAmount</span>
                <span class="member-display-order-item
                member-display-order-day">@item.StartDate.AddYears(-1911).ToString("yyy/MM/dd")</span>
                @*<span class="member-display-order-item
                    member-display-order-day">@item.StartDate</span>*@
                <span class="member-display-order-item-show-button member-display-order-item-show-dynamic-button">+</span>
            </div>
        <div class="member-display-order-detail-list">
            <span class="member-display-order-item member-display-order-name">租賃商品</span>
            <span class="member-display-order-item
                member-display-order-return-day">歸還日</span>
            <span class="member-display-order-item
                member-display-order-price">單價</span>
            <span class="member-display-order-item
                member-display-order-amount">數量</span>
            <span class="member-display-order-item
                member-display-order-total">總計</span>
            <span class="member-display-order-item member-display-order-dynamic-name">@item.ProductName</span>
            <span class="member-display-order-item
                member-display-order-dynamic-return-day">@item.ExpirationDate.AddYears(-1911).ToString("yyy/MM/dd")</span>
                @*<span class="member-display-order-item
                    member-display-order-dynamic-return-day">@item.ExpirationDate</span>*@
                <span class="member-display-order-item
                member-display-order-dynamic-price">@item.DailyRate</span>
                <span class="member-display-order-item
                member-display-order-dynamic-amount">1</span>
                <span class="member-display-order-item
                member-display-order-dynamic-total">NT$@item.TotalAmount</span>
            </div>
        </div>
    }
}





