

<div class="member-display-person-detail member-display-group">
    <div class="member-display-name-container member-display-item">
        <span class="member-display-header member-display-new-email-context">卡號</span>
        <span class="member-display-service-id">{ABS20210809}</span>

    </div>
    <div class="member-display-radio-container member-display-item">
        <div class="radio-men member-display-person-style">
            <input type="radio" name="gender" id="gender">
            <label class="member-display-header" for="text">男</label>
            <i class="fas fa-male"></i>
        </div>
        <div class="radio-women member-display-person-style">
            <input type="radio" name="gender" id="gender">
            <label class="member-display-header" for="text">女</label>
            <i class="fas fa-female"></i>
        </div>
    </div>
    <div class="member-display-name-container member-display-item">
        <div class="member-display-header">姓名</div><div class="member-display-point">*</div>
        <div class="member-display-name-input-box-first">
            <input type="text" class="member-display-firstname" name="firstname" value="@Model.MemberName" placeholder="姓" data-max="5">
        </div>
        <div class="member-display-name-input-box-last">
            <input type="text" class="member-display-lastname" name="lastname" value="" placeholder="名" data-max="5">
        </div>
    </div>
    <div class="member-display-born-container member-display-item">
        <div class="member-display-header">生日</div><div class="member-display-point">*</div>
        <div class="member-display-name-input-box-first">
            <input type="text" class="member-display-year" name="year" value="@Model.MemBerBirthday.Year" placeholder="年" data-max="10">
        </div>
        <div class="member-display-name-input-box-first">
            <input type="text" class="member-display-month" name="month" value="@Model.MemBerBirthday.Month" placeholder="月份" data-max="10">
        </div>
        <div class="member-display-name-input-box-first">
            <input type="text" class="member-display-date" name="date" value="@Model.MemBerBirthday.Day" placeholder="日期" data-max="10">
        </div>
    </div>
    <div class="member-display-phone-container member-display-item">
        <div class="member-display-header">手機</div><div class="member-display-point">*</div>
        <div class="member-display-name-input-box-first">
            <input type="text" class="member-display-block-num" name="block" value="+886" placeholder="區域碼" data-max="10">
        </div>
        <div class="member-display-name-input-box-last">
            <input type="text" class="member-display-num" name="num" value="@Model.MemberPhone" placeholder="電話" data-max="10">
        </div>
    </div>
    <div class="member-display-shop-container member-display-item">
        <div class="member-display-header">門市</div><div class="member-display-point">*</div>
        <select class="member-display-shop" name="shop">
            <option value="門市選項">門市選項</option>
            @*@foreach (var item in Model.MemberOrderDetail)
                {
                    <option value="@item.BranchName">@item.BranchName</option>
                }*@
        </select>
    </div>
    <div class="member-display-shop-container member-display-item">
        <div class="member-display-button-group">
            <button class="member-display-button-item">送出修改</button>
        </div>
    </div>
</div>

