@model MemberPersonDataViewModel

@{
    ViewBag.Title = "MemberCenter";
}

<div class="member-center-container-outsidestyle">
    <div class="member-center-container">
        <div class="member-display-block">
            <!-- BS新版 -->

            

            <h2 class="member-display-title">訂單查詢</h2>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link select-hover active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">個人資料</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link select-hover" id="account-tab" data-bs-toggle="tab" data-bs-target="#account" type="button" role="tab" aria-controls="account" aria-selected="false">帳號管理</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link select-hover" id="profile-tab" data-bs-toggle="tab" data-bs-target="#order-search" type="button" role="tab" aria-controls="order-search" aria-selected="false">訂單查詢</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link select-hover" id="contact-tab" data-bs-toggle="tab" data-bs-target="#car-order" type="button" role="tab" aria-controls="car-order" aria-selected="false">待購清單</button>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">

                <!-- 個人資料 -->
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    @Html.Partial("_memberCenterPersonPartial")

                </div>

                @ViewBag.Change
                <div class="tab-pane fade" id="account" role="tabpanel" aria-labelledby="profile-tab">
                    <!-- 帳號信箱 -->
                    @Html.Partial("_memberCenterAccountPartial")
                    <div class="member-display-person-detail member-display-account-detail member-display-group">
                        <div class="member-display-name-container member-display-item">
                            <div class="member-display-header member-display-new-email-context">目前信箱</div>
                            <div class="member-display-service-email">@Model.MemberEmail</div>
                        </div>

                        @using (Html.BeginForm("MemberCenter", "Member", FormMethod.Post))
                        {
                            <div class="member-display-name-container member-display-item">
                                <div class="member-display-new-email-context">
                                    <div class="member-display-header">請輸入新電子信箱</div>
                                    <div class="member-display-point">*</div>
                                </div>
                                <div class="member-display-name-input-box-last">
                                    <div class="member-display-email-container">
                                        @Html.EditorFor(m => m.MemberEmail, new { htmlAttributes = new { @class = "member-display-new-email", @placeholder = "新電子信箱" } })
                                        @*<input type="email" class="member-display-new-email" name="new-email" value="" placeholder="新電子信箱" data-max="50">*@
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.MemberEmail, "", new { @class = "text-danger" })

                            </div>

                            <div class="member-display-name-container member-display-item">
                                <div class="member-display-new-email-context">
                                    <div class="member-display-header">再確認新電子信箱</div>
                                    <div class="member-display-point">*</div>
                                </div>
                                <div class="member-display-name-input-box-last ">
                                    <div class="member-display-email-container">
                                        @Html.EditorFor(m => m.ComfirMemberEmail, new { htmlAttributes = new { @class = "member-display-doublecheck-email", @placeholder = "再輸入一次新電子信箱" } })
                                        @*<input type="email" class="member-display-doublecheck-email" name="new-email" value="" placeholder="再輸入一次新電子信箱" data-max="50">*@
                                    </div>

                                </div>
                                @Html.ValidationMessageFor(m => m.ComfirMemberEmail, "", new { @class = "text-danger" })
                            </div>

                            <!-- Email-button -->
                            <div class="member-display-shop-container member-display-item">
                                <div class="member-display-button-group">
                                    <button class="member-display-button-item member-display-email-button">送出修改</button>
                                </div>
                            </div>
                        }


                        @*變更密碼*@
                        <div class="member-display-name-container member-display-item">
                            <div class="member-display-header member-display-new-email-context">目前密碼</div>
                            <div class="member-display-service-password">Model.MemberPasswordHash</div>
                        </div>
                        <div class="member-display-name-container member-display-item">
                            <div class="member-display-new-email-context">
                                <div class="member-display-header">請輸入新密碼</div>
                                <div class="member-display-point">*</div>
                            </div>
                            <div class="member-display-name-input-box-last">
                                <div class="member-display-email-container">
                                    <input type="email" class="member-display-new-email" name="new-email" value="" placeholder="新密碼" data-max="50">
                                </div>
                            </div>
                        </div>
                        <div class="member-display-name-container member-display-item">
                            <div class="member-display-new-email-context">
                                <div class="member-display-header">再輸入新密碼</div>
                                <div class="member-display-point">*</div>
                            </div>
                            <div class="member-display-name-input-box-last">
                                <div class="member-display-email-container">
                                    <input type="email" class="member-display-doublecheck-email" name="new-email" value="" placeholder="再輸入確認新密碼" data-max="50">
                                </div>

                            </div>
                        </div>
                        button
                        <div class="member-display-shop-container member-display-item">
                            <div class="member-display-button-group">
                                <button class="member-display-button-item member-display-password-button">送出修改</button>
                            </div>
                        </div>
                    </div>












                </div>
                <!-- 訂單 -->
                <div class="tab-pane fade" id="order-search" role="tabpanel" aria-labelledby="contact-tab">
                    @Html.Partial("_memberCenterOrderPartial")
                </div>
                <!-- 購物車 -->
                <div class="tab-pane fade" id="car-order" role="tabpanel" aria-labelledby="car-order"></div>
            </div>
        </div>
    </div>
</div>


@section topCSS{
    <link href="~/Assets/css/MemberCenter/reset.css" rel="stylesheet" />
    <link href="~/Assets/css/MemberCenter/member.css" rel="stylesheet" />
    <link href="~/Assets/css/MemberCenter/account.css" rel="stylesheet" />
    <link href="~/Assets/css/MemberCenter/order.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
}

@section endJS{
    <script src="~/Assets/js/MemberCenter/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
}

@* 前端驗證 *@
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}

