@model FilterSearchViewModel
@{
    ViewBag.Title = "ProductCards";
}
@using System.Text.RegularExpressions;
@using System.Web.UI.WebControls

<div class=@ViewBag.Page>

    <div class="row pt-lg-3 px-2">

        <!-- Left filter區-->
        <div class="col-lg-3 px-2 mx-0 ">
            <div class="searchContainer">
                @using (Html.BeginForm("SearchProductCards", "Product", FormMethod.Get))
                {
                    <div class="filterGroup">
                        @Html.LabelFor(model => model.keywordInput)
                        @Html.EditorFor(model => model.keywordInput, new { htmlAttributes = new { @class = "btn", placeholder = "想找什麼呢？" } })
                    </div>

                    <div class="filterGroup dNoneOnPhone">
                        @Html.LabelFor(model => model.categoryOptions)
                        <br>
                        @{
                            List<SelectListItem> categoryList = new List<SelectListItem>()
                                                                {
                                new SelectListItem {Text = "選擇商品種類", Value = "0"}
                            };
                            foreach (var ct in ViewBag.categoryOptions)
                            {

                                categoryList.Add(new SelectListItem { Text = @ct.CategoryName, Value = @ct.CategoryID });
                            }

                        }

                        @Html.DropDownListFor(m => m.categoryOptions, categoryList, new { @class = "my-2 w-100", @id = "categoryOptions" })

                        @* 副類下拉 *@
                        @{
                            List<SelectListItem> subcategoryList = new List<SelectListItem>()
                                                    {
                                new SelectListItem {Text = "選擇子分類", Value = "0"}
                            };

                            if (ViewBag.CategorySelected != null)
                            {
                                foreach (var sub in ViewBag.SubcategoryOptions)
                                {

                                    subcategoryList.Add(new SelectListItem { Text = sub.SubCategoryName, Value = sub.SubCategoryID });
                                }

                            }


                        }
                        @Html.DropDownListFor(m => m.subCategoryOptions, subcategoryList, new { @class = "w-100", @id = "subCategoryOptions" })

                        @*<select name="subCategoryOptions" id="subCategoryOptions" class="w-100">
                                <option value="0">選擇子分類</option>

                            </select>*@
                    </div>

                    <div class="filterGroup dNoneOnPhone">
                        @Html.LabelFor(model => model.dailyRateBudget)
                        <br>
                        @{
                            List<SelectListItem> priceList = new List<SelectListItem>()
                                                    {
                                new SelectListItem {Text = "日租費預算範圍", Value = "0"},
                                new SelectListItem {Text = "$100以下", Value = "1"},
                                new SelectListItem {Text = "$101~$500", Value = "2"},
                                new SelectListItem {Text = "$501~$1000", Value = "3"},
                                new SelectListItem {Text = "$1000以上 價格不是問題", Value = "4"}
                            };
                        }
                        @Html.DropDownListFor(m => m.dailyRateBudget, priceList, new { @class = "my-2 w-100" })

                    </div>

                    <div class="filterGroup dNoneOnPhone">

                        @Html.LabelFor(model => model.orderByOptions)
                        <br>
                        <label class="mt-1 ms-1">
                            @Html.RadioButtonFor(m => m.orderByOptions, "orderByRelevance") 最相關不要五四三
                        </label>
                        <br>
                        <label class="mt-1 ms-1">
                            @Html.RadioButtonFor(m => m.orderByOptions, "orderByPrice") 甜甜價低到高
                        </label>
                        <br>
                        <label class="mt-1 ms-1">
                            @Html.RadioButtonFor(m => m.orderByOptions, "orderByStarsForLike") 星星熱門度
                        </label>
                        <br>

                    </div>

                    <input type="submit" value="送出搜尋" class="filterResultBtn my-2 dNoneOnPhone">


                }

            </div>

        </div>

        <!-- Right 種類或商品卡片部分 -->
        <div class="col-lg-9 col-12 px-2  mb-4 mx-0 ">

            <div class="col-12 px-2 @ViewBag.Container">
                <h4>@ViewBag.ContainerTitle</h4>

                <div class=" d-flex flex-wrap">
                    @if (ViewBag.ContainerTitle == nameof(ContainerTitle.所有種類))
                    {
                        foreach (CardsViewModel ct in ViewBag.CategoryOptions)
                        {
                            <div class="col-12 col-md-6">
                                @Html.Partial("Partial_CategoryCard", ct)
                            </div>

                        }
                    }

                    else
                    {
                        foreach (CardsViewModel product in ViewBag.selectedProductList)
                        {
                            <div class="col-6 col-md-4">
                                @Html.Partial("Partial_ProductCard", product)
                            </div>
                        }
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section topCSS
{
    <!--map-->
    @*<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
              integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
              crossorigin="" />
        <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />*@

    <link href="~/Assets/css/GeneralProductCards/GeneralCategories.css" rel="stylesheet" />
    <link href="~/Assets/css/GeneralProductCards/SearchFilter.css" rel="stylesheet" />
    <link href="~/Assets/css/GeneralProductCards/ProductCards.css" rel="stylesheet" />
}

@section topJS
{
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

}

@section endJS
{
    <script src="~/Assets/js/GeneralProductCards/GeneralCategories.js"></script>
    <script src="~/Assets/js/GeneralProductCards/ProductCards.js"></script>
    <script src="~/Assets/js/GeneralProductCards/SearchFilter.js"></script>
    <script>
        // window.onload
        // 1. 選擇的主類, 選擇的副類
        // 2.
        $('#categoryOptions').on('change', function (e) {

            var optionSelected = $("option:selected", this);
            //console.log(optionSelected);
            var valueSelected = this.value;
            var subSelector = document.querySelector('#subCategoryOptions');

            //取消Ajax快取
            $.ajaxSetup({ cache: false });

            $.ajax({
                type: 'POST',
                url: "/Product/GetSubCategoryOptions?categoryID=" + valueSelected,

                //data: { categoryID : valueSelected },
                dataType: "json",
                success: function (response) {
                    let optionIni = document.createElement('option');
                    subSelector.innerText = "";
                    optionIni.value = "0";
                    optionIni.innerText = `從${optionSelected[0].childNodes[0].nodeValue}再細分`;
                    subSelector.appendChild(optionIni);

                    response.forEach(sub => {
                        let option = document.createElement('option');
                        option.innerText = sub.SubCategoryName;
                        option.value = sub.SubCategoryID;
                        subSelector.appendChild(option);
                    });
                }
            });
        });

    </script>
}
