@model IEnumerable<FilterSearchViewModel>
@{
    ViewBag.Title = "ProductCards";
}
@using System.Text.RegularExpressions;

<div class=@ViewBag.Page>

    <div class="row pt-lg-3 px-2">

        <!-- Left filter區-->
        <div class="col-lg-3 px-2 mx-0 ">
            <div class="searchContainer">
                <form action="@Url.Action("SearchProductCards", "Product")" method="get">
                    <div class="filterGroup">
                        <label for="keywordInput" class="">關鍵字搜尋</label> <br>
                        <input type="text" id="keywordInput" name="keywordInput" class="btn" placeholder="想找什麼呢？">
                    </div>

                    <div class="filterGroup dNoneOnPhone">
                        <label for="categoryOptions" class="">種類篩選</label> <br>
                        <select name="categoryOptions" id="categoryOptions" class="w-100 my-2">
                            <option value="0">選擇商品種類</option>

                            @{
                                foreach (var ct in ViewBag.categoryOptions)
                                {
                                    <option value=@ct.CategoryID>@ct.CategoryName</option>
                                }
                            }

                        </select>

                        <select name="subCategoryOptions" id="subCategoryOptions" class="w-100">
                            <option value="0">選擇子分類</option>

                        </select>
                    </div>

                    <div class="filterGroup dNoneOnPhone">
                        <label for="" class="">錢錢決定一切</label> <br>
                        <select name="dailyRateBudget" id="dailyRateBudget" class="my-2 w-100">
                            <option value="0">日租費預算範圍</option>
                            <option value="1">$100以下</option>
                            <option value="2">$101~$500</option>
                            <option value="3">$501~$1000</option>
                            <option value="4">$1000以上 價格不是問題</option>
                        </select>
                    </div>

                    <div class="filterGroup dNoneOnPhone">
                        <label for="orderByOptions" class="">排序方式</label> <br>

                        <label class="mt-1"><input type="radio" id="orderByRelevance" name="orderByOptions" value="orderByRelevance" checked > 最相關不要五四三</label><br>
                        <label class="mt-1"><input type="radio" id="orderByPrice" name="orderByOptions" value="orderByPrice"> 甜甜價低到高</label><br>
                        <label class="mt-1"><input type="radio" id="orderByStarsForLike" name="orderByOptions" value="orderByStarsForLike"> 星星熱門度</label><br>
                    </div>

                    <input type="submit" value="送出搜尋" class="filterResultBtn my-2 dNoneOnPhone">
                </form>
            </div>

        </div>

            <!-- Right 種類或商品卡片部分 -->
            <div class="col-lg-9 col-12 px-2  mb-4 mx-0 ">

                <div class="col-12 px-2 @ViewBag.Container">
                    <h4>@ViewBag.ContainerTitle</h4>

                    <div class=" d-flex flex-wrap">
                        @if (ViewBag.ContainerTitle == nameof(ContainerTitle.所有種類))
                        {
                            @Html.Partial("Partial_CategoryCard")
                        }
                        else
                        {
                            @Html.Partial("Partial_ProductCard")
                            
                        }

                    </div>
                </div>
            </div>
        </div>
</div>

@section topCSS
{
    <!--map-->
    @*<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />*@

    <link href="~/Assets/css/GeneralProductCards/GeneralCategories.css" rel="stylesheet" />
    <link href="~/Assets/css/GeneralProductCards/SearchFilter.css" rel="stylesheet" />
    <link href="~/Assets/css/GeneralProductCards/ProductCards.css" rel="stylesheet" />
}

@section topJS
{
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin="">
    </script>
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

}

@section endJS
{
    <script src="~/Assets/js/GeneralProductCards/GeneralCategories.js"></script>
    <script src="~/Assets/js/GeneralProductCards/ProductCards.js"></script>
    <script src="~/Assets/js/GeneralProductCards/SearchFilter.js"></script>
    <script>
        $('#categoryOptions').on('change', function (e) {

            var optionSelected = $("option:selected", this);
            //console.log(optionSelected);
            var valueSelected = this.value;
            var subSelector = document.querySelector('#subCategoryOptions');

            //取消Ajax快取
            $.ajaxSetup({ cache: false });

            $.ajax({
                type: 'POST',
                url: "/Product/GetSubCategoryOptions?categoryID=" + valueSelected,

                //data: { categoryID : valueSelected },
                dataType: "json",
                success: function (response) {
                    let optionIni = document.createElement('option');
                    subSelector.innerText = "";
                    optionIni.value = "0";
                    optionIni.innerText = `從${optionSelected[0].childNodes[0].nodeValue}再細分`;
                    subSelector.appendChild(optionIni);

                    response.forEach(sub => {
                        let option = document.createElement('option');
                        option.innerText = sub.SubCategoryName;
                        option.value = sub.SubCategoryID;
                        subSelector.appendChild(option);
                    });
                }
            });
        });

    </script>
}
