@model ProductDetailToCart
@{
    ViewBag.Title = "ProductDetail";
    //禁招  //一個網址 多個ACtion  一個view  一個強行別Model  

    var service = new ProductService();

    //razor會先把 C#語法都編譯完。  先轉成json  並且讓js變數接手 chart範例 接陣列
}

<div class="container-xl main">
    <h2>商品名稱: @Model.ProductName</h2>
    <div class="Top_Title mb-3">
        <div class="Zip">
            <div class="ZipContent">
                <h5>CHU</h5>
                <span class="d-block">,</span>
                <h5 class="ms-1">Hsinchu</h5>
                <span class="d-block">,</span>
                <h5 class="ms-1 me-3">Taiwan</h5>
                <i class="fas fa-star mx-1"></i>
                <i class="fas fa-star mx-1"></i>
                <i class="fas fa-star mx-1"></i>
                <i class="fas fa-star mx-1"></i>
                <i class="fas fa-star mx-1"></i>
            </div>
            <div class="ZipSocial d-flex">
                <i class="fab fa-facebook-f mx-1"></i>
                <i class="fab fa-twitter mx-1"></i>
                <i class="fas fa-envelope mx-1"></i>
                <i class="far fa-copy mx-1"></i>
                <span>Copy link</span>
            </div>
        </div>
    </div>
    <div class="row d-flex justify-content-between">
        <div class="col-sm-7 col-12 Product">
            <img src="@Model.ImgSources[0]"
                 data-fancybox="gallery"
                 data-caption="Optional caption">
        </div>
        <div class="col-sm-5 col-12 Product">
          <img src="@Model.ImgSources[1]"
                 data-fancybox="gallery"
                 data-caption="Optional caption">
            <span class="SeeMore">See ALL 2</span>
        </div>

    </div>

    <br>

    <div class="d-flex">

        <div class="left">
            <Section class="col-12">

                <hr>

                <div class="">
                    <div class="">
                        <h2 class="heading_size">
                            商品名稱: @Model.ProductName
                        </h2>
                    </div>
                </div>

                <div class="">
                    <div class="description_text">
                        <div id="">
                            <p id="p1">
                                商品描述 : @Model.Description
                                <span id="span1">
                                    @*...*@
                                    <span class="link1" id="link1">
                                        <a data-bs-toggle="collapse" href="#collapse_text1"
                                           aria-controls="collapse_text1">
                                            @*Read more*@
                                        </a>
                                    </span>
                                </span>

                                <span class="collapse" id="collapse_text1" aria-expanded="false">
                                    @*your rental request. Submit a request and a member from our Customer Success Team
                                    will be in
                                    touch with you.*@
                                </span>

                            </p>
                        </div>

                    </div>
                </div>
            </Section>

            <hr>

            <!--------以下 地圖區塊--------------------------------------------------------------------------->

            <div class="left-sidebar-container">
                @*<div class="map-block">*@
                <h2 class="map-block-title">取件和退貨選項</h2>
                <span class="map-block-depiction">提供送貨選項。提供您的位置以查看估計的送貨成本。</span>
                <div class="map-block-distance">
                    <p class="map-block-distance-text">這距離您所在的位置大約 (動態) 公里</p>
                    <div class="map-block-input-outside">
                        <i class="fas fa-map-marker-alt"></i>
                        <input class="map-block-distance-input" type="text" placeholder="總部">
                    </div>
                </div>

                <div class="map-block-price">
                    <div class="map-block-price-col"></div>
                    <div class="map-block-price-col ">
                        <div class="map-block-total-price">預計送貨費用（單程）： (動態)新台幣</div>
                    </div>
                </div>
                <div class="map-countainer">
                    <div id="mapId"></div>
                    <!-- <div id="map"></div>  google map-->

                </div>
                <p class="map-block-notice">預訂後提供確切位置</p>

                @*</div>*@
            </div>


            <!--------以上 地圖區塊--------------------------------------------------------------------------->

            <hr>
            <Section class="col-12">

                <div class="title">
                    <div class="title-left">
                        <h2 class="heading_size">
                            Available Times
                        </h2>
                    </div>

                    <div class="title-right">
                        <a data-bs-toggle="collapse" href="#collapse_textTwo" aria-expanded="false"
                           aria-controls="collapse_textTwo">
                            <i class="fas fa-caret-down rotate" id="arrow1"></i>
                        </a>
                    </div>
                </div>


                <div class="description_text">
                    <div id="">
                        <p class="p2">

                            <span id="text2">

                                <span class="link2" id="link2">
                                    <a data-bs-toggle="collapse" href="#collapse_textTwo" aria-expanded="false"
                                       aria-controls="collapse_textTwo">
                                        Read more...
                                    </a>
                                </span>

                            </span>

                            <div class="collapse" id="collapse_textTwo" aria-expanded="false">
                                A Ruckify driver can deliver to and return the item from your location: <br>
                                Monday to Sunday
                                &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                                &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                                &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp
                                &nbsp &nbsp
                                9:00 am to 9:00 pm<br>

                            </div>
                        </p>
                    </div>

                </div>

            </Section>
            <hr>

            <Section class="col-12">

                <div class="">
                    <div class="">
                        <h2 class="heading_size">
                            Keep in Mind
                        </h2>
                    </div>
                </div>

                <div class="">
                    <div class="description_text">

                        <div id="">
                            <p>
                                You remain fully liable to the Owner for any damage, loss, or theft of the item during
                                the rental period.
                            </p>
                        </div>

                    </div>
                </div>
            </Section>

            <hr>

            <Section class="col-12">

                <div class="title">
                    <div class="title-left">
                        <h2 class="heading_size">
                            Cancellation
                        </h2>
                    </div>

                    <div class="title-right">
                        <a data-bs-toggle="collapse" href="#collapse_text4" aria-expanded="false"
                           aria-controls="collapse_text4">
                            <i class="fas fa-caret-down rotate" id="arrow2"></i>
                        </a>
                    </div>
                </div>


                <div class="description_text">
                    <div id="">
                        <p class="p4">
                            Cancellation policy is <strong>Easy-Going.</strong> <br>

                            Full refund will be issued if cancelled greater than 2 days before <br>
                            <span id="text4">

                                <span class="link4" id="link4">
                                    <a data-bs-toggle="collapse" href="#collapse_text4" aria-expanded="false"
                                       aria-controls="collapse_text4">
                                        Read more...
                                    </a>
                                </span>

                            </span>

                            <span class="collapse" id="collapse_text4" aria-expanded="false">
                                <br>
                                If the member booking the item sends a cancellation notification at least 48 hours
                                before the booking Start Date and Time, they are entitled to a full refund minus the
                                booking fee, and payment processing fee. The item price and any additional price
                                including delivery will be refunded.
                            </span>
                        </p>
                    </div>

                </div>

            </Section>
        </div>
        <div class="right">
            <div class="RentInfo">
                <div class="RentSetting">
                    <div class="price"><span>@Decimal.ToInt32(Model.DailyRate) </span>元/日</div>
                    <!-- Button trigger modal -->
                    <button id="setDate" class="orange d-flex justify-content-evenly align-items-center" data-bs-toggle="modal" data-bs-target="#DateModal">
                        設定租借期間
                    </button>
                    <!-- 顯示設好的時間 -->
                    @* 同時有兩個按鈕? *@
                    @*  *@
                <div class="decision-group">
                    @using (Html.BeginForm("Product", "Product"))
                    {
                        @Html.AntiForgeryToken()

                        @*for (int i = 0; i < Model.ImgSources.Count(); i++)
                        {
                            <input name="ImgSources[@i]" type="hidden" value=@Model.ImgSources[i]>
                        }*@
                        @*@Html.HiddenFor(M => M.CurrentMemberID)*@
                        @Html.HiddenFor(M => M.IsExisted)
                        @Html.HiddenFor(M => M.StartDate)
                        @Html.HiddenFor(M => M.ExpirationDate)

                        <button id="ToCart" class="orange" type="submit">放入購物車</button>
                        <button id="ToCheck" class="orange">直接結帳</button>
                    }

                </div>
                </div>
                <div class="hint">您還不會被收費</div>
            </div>

            <!-- DateModal -->
            <div class="modal fade" id="DateModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title w-100" id="exampleModalLabel">設定起迄日</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body d-flex flex-column align-items-center">

                            <div id="collapseDatePicker" class="collapse collapseItem show">
                                <input class="flatpickr" type=text placeholder="Select Date 啦" id="datePicker">
                            </div>

                            <button class="w-100 orange" data-bs-toggle="collapse" data-bs-target=".collapseItem">
                                繼續設定時間
                            </button>

                            <div id="collapseTimePicker" class="collapse collapseItem">
                                <div class="d-flex w-100">
                                    <div class="d-flex">
                                        <strong>從</strong><div id="start"></div>
                                        <input class="flatpickr timePicker" type=text placeholder="選時間" id="startTimePicker">
                                    </div>
                                    <div class="arrow"></div>
                                    <div class="d-flex">
                                        <strong>到</strong><div id="end"></div>
                                        <input class="flatpickr timePicker" type=text placeholder="選時間" id="endTimePicker">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="orange" id="complete" data-bs-dismiss="modal">設定完成</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal " id="OperationHintModal" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title w-100"></h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>





@section endJS{
    <!-- leaf js -->
    <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCem632bQH4n1otBAe6oCI64ww7j5yn27c&callback=initMap&libraries=&v=weekly" async></script>
    <!-- dateTimePicker -->
    <script src="~/Assets/js/ProductDetail/flatpickr.js"></script>

    <script src="~/Assets/js/ProductDetail/ProductCarousel.js"></script>
    <script src="~/Assets/js/ProductDetail/leaf.js"></script>
    <script src="~/Assets/js/ProductDetail/Product_Detail.js"></script>
    <script>
        //未登入的禁用
        @*if (@Json.Encode( !User.Identity.IsAuthenticated) ) {
            let DateModalLauncher = document.querySelector('button[data-bs-target="#DateModal"]');
            DateModalLauncher.disabled = true;
            DateModalLauncher.innerText = '= 登入後才可租賃商品 =';
        }*@

        //入車提示訊息
        if (   @Json.Encode(  ! String.IsNullOrEmpty(Model.OperationType)   )  )  {
            let OpText = "";
            if ( @Json.Encode(Model.OperationType == "Create")  )
                OpText = "加入";
            else if (@Json.Encode(Model.OperationType == "Update")  )
                OpText = "更新";

            OpText += "購物車";
            if (@Json.Encode(Model.OperationSuccessful)) {
                OpText += "成功";
            }
            else {
                OpText += "失敗";
            }
            let OpModal = new bootstrap.Modal(document.querySelector('#OperationHintModal'));
            document.querySelector('#OperationHintModal .modal-header>h5').innerText = OpText;
            OpModal.toggle();
        }
    </script>

    <script src="~/Assets/js/ProductDetail/dateTimePicker.js"></script>
    <script>
        datePicker.config.disable = @Html.Raw(Model.DisablePeriodsJSON) ;
    </script>
}


@section topCSS{
    <!-- swiper還有用到?? -->
    <link rel="stylesheet" href="~/Content/swiper-bundle.min.css" />
    <!-- leaf css -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
    <!-- dateTimePicker -->
    <link rel="stylesheet" href="~/Assets/css/ProductDetail/flatpickr_orange.css" />

    <link rel="stylesheet" href="~/Assets/css/ProductDetail/ProductCarousel.css" />
    <link rel="stylesheet" href="~/Assets/css/ProductDetail/leafMap.css" />
    <link rel="stylesheet" href="~/Assets/css/ProductDetail/Product_Detail.css" />
    <link rel="stylesheet" href="~/Assets/css/ProductDetail/dateTimePicker.css" />

}


@section topJS{
    @* swiper還有用到?? *@
    <script src="~/Scripts/swiper-bundle.min.js"></script>

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

}