@model IEnumerable<CardsViewModel>

@foreach (var p in Model)
{
    <div class="col-6 col-md-4">
        <div class="product-card" onmouseover="productCard_Hover2(this);"
             onmouseout="productCard_Unhover2(this);">
            <div class="badge">
                <repeat n="4"></repeat>
            </div>
            <div class="product-img">
                <a href="@Url.Action("", "Product")"><img src='https://tnntoday.com/wp-content/uploads/2021/04/Maserati.jpg' alt=""></a>
            </div>
            <div class="product-details">
                <div class="checkitOut"><a class="d-grid" href="@Url.Action("", "Product")"><span class="m-auto">查看詳情</span></a> </div>
                <span class="product-catagory">@p.CategoryName,@p.SubCategoryName</span>
                <p class="product-name"><a href="@Url.Action("", "Product")">@p.ProductName</a></p>
                <p class="product-description">@p.Description </p>
                <div class="product-price-cart-box d-flex">
                    <div class="product-price flex-grow-1">$@Math.Ceiling(p.DailyRate)<span>/日租</span></div>
                    <div class="product-cart-icon d-grid">
                        <a class="m-auto" href="@Url.Action("", "Carts")"><i class="fa fa-shopping-cart"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}