@model IEnumerable<Backstage.ViewModels.BlogViewModel>

@{
    ViewData["Title"] = "SaveBlog";
}

<h1>SaveBlog</h1>

<p>
    @TempData["content"]
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BlogTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PostDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainImgUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainImgTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preview)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BlogContent)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BlogTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PostDate.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainImgUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainImgTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preview)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BlogContent)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BlogID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BlogID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BlogID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
